# Dependencies
node_modules/

# Environment variables


# Uploads
public/uploads/*.jpg
public/uploads/*.png
public/uploads/*.webp
public/uploads/*.jpeg

# Next.js
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
